{% load static %}
<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="auto">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento</title>
    
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    
    
    <!--CSS personalizado estático-->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
  
  <!--Cabeçalho da página com logo e menu-->
  <div>
    <header class=" cabecalho d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">        
              <a href="{% url 'index' %}">
                <img class="logo_img mx-auto d-block d-md-inline" src="{% static 'img/impressa_logo.png' %}" alt="">
              </a>
        </div>
        
        <!--Menu de navegação principal-->
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'index' %}" class="nav-link px-2">Home</a></li>
          <li><a href="{% url 'quemsomos' %}" class="nav-link px-2">Quem somos</a></li>
        </ul>
        
        {# Botões de login/logout/perfil, dependendo do estado de autenticação #}
        <div class="col-md-3 text-end">
          {% if user.is_authenticated %}
            <a href="{% url 'perfil' %}" class="cabecalho-btn btn btn-outline-success me-2">Perfil</a>
            <a href="{% url 'logout' %}" class="cabecalho-btn btn btn-outline-success me-2">Logout</a>
          {% else %}
            <a href="{% url 'login' %}" class="cabecalho-btn btn btn-outline-success me-2">Login</a>
            <a href="{% url 'register' %}" class="cabecalho-btn btn btn-outline-success me-2">Registrar</a>
          {% endif %}
        </div>
      </header>
    </div>

    <!--Seção Finalizar Compra-->
    <div class="container">
        <main>
          <div class="py-5 text-center">
            <h1 class="h2">Finalizar Compra</h1>
            <p class="lead">Adicione suas informações e conclua seu pedido com segurança.</p>
          </div>
      
          <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Seu Carrinho</span>
                <span class="badge bg-primary rounded-pill">{{ quantidade_carrinho }}</span>
              </h4>
              {# Exibe os itens do carrinho de compras do usuário logado #}
              <ul class="list-group mb-3">
                    {% for item in itens_carrinho %}
                      <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
                        <span>{{ item.produto.nome }}</span>
                        <span>{{ item.produto.quantidade }}x</span>
                        <span>R$ {{ item.produto.preco }}</span>
                      </li>
                    {% empty %}
                      <li class="list-group-item">Seu carrinho está vazio.</li>
                    {% endfor %}
                    
                    <div class="valor_total_container container">
                      <span class="text-success">Valor Total:</span>
                      <span class="text-success">R${{ total }}</span>
                    </div>
              </ul>
            </div>

            <!--Formulário de endereço de entrega e dados de pagamento-->
            <div class="col-md-7 col-lg-8">
              <h4 class="mb-3">Endereço de entrega</h4>

              <form method="POST" class="needs-validation" novalidate> 
                {% csrf_token %}
                <div class="row g-3">
      
                  <div class="col-12">
                    <label for="address" class="form-label">Endereço</label>
                    <input type="text" class="form-control" id="address" name="address" placeholder="Rua Sao bernardo" autocomplete="street-address" required/>
                    <div class="invalid-feedback">
                      <p>Insira o endereço</p>
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="address" class="form-label">Cidade</label>
                    <input type="text" class="form-control" id="cidade" name="cidade" placeholder="São Paulo" autocomplete="address-level2" required/>
                    <div class="invalid-feedback">
                      <p>Insira a Cidade</p>
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="address" class="form-label">Bairro</label>
                    <input type="text" class="form-control" id="bairro" name="bairro" placeholder="São Bento" autocomplete="address-level2" required/>
                    <div class="invalid-feedback">
                      <p>Insira o Bairro</p>
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="address2" class="form-label">Complemento <span class="text-body-secondary">(Optional)</span></label>
                    <input type="text" class="form-control" id="address2" name="address2" placeholder="Casa ou Apartamento">
                  </div>

                  <div class="col-md-4">
                    <label for="state" class="form-label">Estado</label>
                    <select class="form-select" id="state" name="state" required>
                      <option value="">Selecione Seu Estado...</option>
                      <option value="AC">Acre</option>
                      <option value="AL">Alagoas</option>
                      <option value="AP">Amapá</option>
                      <option value="AM">Amazonas</option>
                      <option value="BA">Bahia</option>
                      <option value="CE">Ceará</option>
                      <option value="DF">Distrito Federal</option>
                      <option value="ES">Espírito Santo</option>
                      <option value="GO">Goiás</option>
                      <option value="MA">Maranhão</option>
                      <option value="MT">Mato Grosso</option>
                      <option value="MS">Mato Grosso do Sul</option>
                      <option value="MG">Minas Gerais</option>
                      <option value="PA">Pará</option>
                      <option value="PB">Paraíba</option>
                      <option value="PR">Paraná</option>
                      <option value="PE">Pernambuco</option>
                      <option value="PI">Piauí</option>
                      <option value="RJ">Rio de Janeiro</option>
                      <option value="RN">Rio Grande do Norte</option>
                      <option value="RS">Rio Grande do Sul</option>
                      <option value="RO">Rondônia</option>
                      <option value="RR">Roraima</option>
                      <option value="SC">Santa Catarina</option>
                      <option value="SP">São Paulo</option>
                      <option value="SE">Sergipe</option>
                      <option value="TO">Tocantins</option>
                    </select>
                    <div class="invalid-feedback">
                      <p>Insira o Estado</p>
                    </div>
                  </div>
      
                  <div class="col-md-3">
                    <label for="zip" class="form-label">CEP</label>
                    <input type="text" class="form-control" id="zip" name="zip" placeholder="00000-000" pattern='^\d{5}-?\d{3}$' autocomplete="postal-code" required>
                    <div class="invalid-feedback">
                      <p>Insira o Codigo Postal</p>
                    </div>
                  </div>
                </div>
      
                <hr class="my-4">
      
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="save-info" name="save-info">
                  <label class="form-check-label" for="save-info">Salvar endereço para proxima compra</label>
                </div>
      
                <hr class="my-4">
                <h4 class="mb-3">Pagamento</h4>
                <div class="my-3">
                  <div class="form-check">
                    <input id="debit" value="debit" name="paymentMethod" type="radio" class="form-check-input" checked required>
                    <label class="form-check-label" for="debit">Cartão de Debito</label>
                    
                  </div>
                  <div class="form-check">
                    <input id="credit" value="credit" name="paymentMethod" type="radio" class="form-check-input" required>
                    <label class="form-check-label" for="credit">Cartão de Credito</label>
                  </div>
                  <div class="form-check">
                    <input id="paypal" value="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
                    <label class="form-check-label" for="paypal">PayPal</label>
                  </div>
                </div>
      
                <div class="row gy-3">
                  <div class="col-md-6">
                    <label for="cc-name" class="form-label">Nome no cartão</label>
                    <input type="text" class="form-control" id="cc_nome" name="cc_nome" placeholder="" required>
                    <small class="text-body-secondary">Nome completo escrito no cartão</small>
                    <div class="invalid-feedback">
                      <p>Insira o Nome do Cartão de Credito</p>
                    </div>
                  </div>
      
                  <div class="col-md-6">
                    <label for="cc-number" class="form-label">Numero do cartão</label>
                    <input type="text" class="form-control" id="cc_numero" name="cc_numero" placeholder="" required>
                    <div class="invalid-feedback">
                      <p>Insira o Numero do Cartão de Credito</p>
                    </div>
                  </div>
      
                  <div class="col-md-3">
                    <label for="cc-expiration" class="form-label">Data de expiração</label>
                    <input type="text" class="form-control" id="cc_validade" name="cc_validade" placeholder="" required>
                    
                    <div class="invalid-feedback">
                      <p>Insira a Data de Expiração do Cartão</p>
                    </div>
                  </div>
      
                  <div class="col-md-3">
                    <label for="cc-cvv" class="form-label">CVV</label>
                    <input type="text" class="form-control" id="cc_cvv" name="cc_cvv" placeholder="" required>
                    
                    <div class="invalid-feedback">
                      <p>Insira o Codigo de Segurança</p>
                    </div>
                  </div>
                </div>
  
                <hr class="my-4">    
                <a href="{% url 'index' %}" class="w-100 btn btn-outline-success btn-md" type="submit">Finalizar Compra</a>
              </form>
            </div>
          </div>
        </main>
      </div>

<!--Rodapé com contato e GitHub-->
<div class="container footer_container">
  <footer class="footer d-flex flex-column justify-content-center align-items-center py-3 my-4 border-top text-center">
    <div class="mb-2">
      <p class="mb-0">© 2025 Otávio Ribeiro. Todos os direitos reservados.</p>
    </div>
    <div>
      <p class="mb-0">Confira meu GitHub: </p>
      <a href="https://github.com/Otavio72" class="d-flex align-items-center justify-content-center text-info" aria-label="Confira meu GitHub">
          Otavio72
      </a>
    </div>
  </footer>
</div>

      <!--SVGs para ícones do tema (light/dark)-->
      <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol id="check2" viewBox="0 0 16 16">
          <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
        </symbol>
        <symbol id="circle-half" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
        </symbol>
        <symbol id="moon-stars-fill" viewBox="0 0 16 16">
          <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
          <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
        </symbol>
        <symbol id="sun-fill" viewBox="0 0 16 16">
          <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
        </symbol>
      </svg>

      <!--Botão de troca de tema-->
      <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
        <button class="btn btn_tema py-2 dropdown-toggle d-flex align-items-center"
          id="bd-theme"
          type="button"
          aria-expanded="false"
          data-bs-toggle="dropdown"
          
          aria-label="Toggle theme (auto)">
    <svg class="bi my-1 theme-icon-active" aria-hidden="true"><use href="#circle-half"></use></svg>
    <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
  </button>
  <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
        <svg class="bi me-2 opacity-50" aria-hidden="true"><use href="#sun-fill"></use></svg>
        Light
        <svg class="bi ms-auto d-none" aria-hidden="true"><use href="#check2"></use></svg>
      </button>
    </li>
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
        <svg class="bi me-2 opacity-50" aria-hidden="true"><use href="#moon-stars-fill"></use></svg>
        Dark
        <svg class="bi ms-auto d-none" aria-hidden="true"><use href="#check2"></use></svg>
      </button>
    </li>
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto">
        <svg class="bi me-2 opacity-50" aria-hidden="true"><use href="#circle-half"></use></svg>
        Auto
        <svg class="bi ms-auto d-none" aria-hidden="true"><use href="#check2"></use></svg>
      </button>
    </li>
  </ul>

<!--Scripts JS para Bootstrap, troca de tema,pesquisador de CEP-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

<script src="{% static 'js/temaJS.js' %}"></script>
<script src="{% static 'js/validacaoJS.js' %}"></script>
<script src="{% static 'js/verificaCEPJS.js' %}"></script>

</body>
</html>


  